{% trans_default_domain 'SonataAdminBundle' %}

{% set type = object.type %}
{% if type == constant('Smart\\SonataBundle\\Enum\\ParameterTypeEnum::BOOLEAN') %}
    {% if value == 1 %}
        <span class="label label-success">{{ 'label_type_yes'|trans }}</span>
    {% else %}
        <span class="label label-danger">{{ 'label_type_no'|trans }}</span>
    {% endif %}
{% elseif type == constant('Smart\\SonataBundle\\Enum\\ParameterTypeEnum::EMAIL_CHAIN') or
    type == constant('Smart\\SonataBundle\\Enum\\ParameterTypeEnum::LIST')
%}
    {{ value|nl2br }}
{% elseif type == constant('Smart\\SonataBundle\\Enum\\ParameterTypeEnum::TEXTAREA') %}
    {{ value|raw }}
{% else %}
    {{ value }}
{% endif %}
