{% trans_default_domain 'admin' %}

{% macro display_diff_value(value) %}
    {% if value is null %}
        <i>null</i>
    {% else %}
        {{ value }}
    {% endif %}
{% endmacro %}

<p>{{ 'import.title_preview'|trans({'{nb}': import_preview_data|length })|raw }}</p>
<br>
<table class="table table-bordered" style="table-layout: fixed; width: 100%">
    <thead>
        <tr>
            <th style="width: 55px">{{ 'import.row'|trans }}</th>
            <th style="width: 120px">{{ 'import.label_action'|trans }}</th>
            {% for property in admin.importProperties %}
                <th>{{ property.label }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
    {% for key, data in import_preview_data %}
        {% set diff_type = data.diff_type %}
        <tr class="bg-{% if diff_type == 'new' %}info{% elseif diff_type == 'change' %}success{% else %}muted{% endif %}">
            <td>{{ key + 1 }}</td>
            <td>
                <span class="label label-{% if diff_type == 'new' %}info{% elseif diff_type == 'change' %}success{% else %}muted{% endif %}">
                    {{ ('import.diff_type_' ~ diff_type)|trans }}
                </span>
            </td>
            {% for diff in data.diff %}
                <td style="word-break: break-word">
                    {% if diff_type == 'new' %}
                        {{ _self.display_diff_value(diff) }}
                    {% elseif diff.has_change %}
                        <span class="text-red">{{ _self.display_diff_value(diff.origin_value) }}</span>
                        >
                        <span class="text-success">{{ _self.display_diff_value(diff.value) }}</span>
                    {% else %}
                        <span class="text-muted">{{ _self.display_diff_value(diff.value) }}</span>
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<br>
