{% extends "@SmartSonata/admin/documentation/documentation_layout.html.twig" %}
{% trans_default_domain 'email' %}
{% import '@SmartSonata/macros/box_tools.html.twig' as box_tools %}
{% from '@SmartSonata/macros/trans_check.html.twig' import trans_check %}

{% block title %}{{ 'dashboard.label_documentation_email'|trans({}, 'admin') }}{% endblock %}

{% block content %}
    <div class="box box-solid box-info">
        <div class="box-header with-border">
            <h3 class="box-title">{{ 'fieldset.label_general'|trans({}, 'admin') }}</h3>
            {{ box_tools.collapse_box_tools }}
        </div>
        <div class="box-body">
            {{ 'smart.email.general_info'|trans|raw }}
        </div>
    </div>

    {% for smart_group, smart_emails in grouped_smart_emails %}
        <div class="box box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">
                    {{ trans_check('email.smart_group_' ~ smart_group, "smart.email.missing_smart_group", 'email') }}<br>
                    <span class="text-muted">({{ smart_emails|length }} emails)</span>
                </h3>
                {{ box_tools.collapse_box_tools }}
            </div>
            <div class="box-body">
                {% for smart_email in smart_emails %}
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="text-muted">#{{ smart_email.getCode }}</div>
                            <h4>{{ trans_check(smart_email.getDocumentationTitle, 'smart.email.missing_title', 'email') }}</h4>
                        </div>
                        <div class="col-lg-4">
                            <form class="test-form" method="post">
                                <label for="email_{{ smart_email.getCode }}">Email</label>
                                <input id="email_{{ smart_email.getCode }}" name="email_recipient" type="email" required="required" placeholder="email@example.com">
                                <input type="hidden" name="email_code" value="{{ smart_email.getCode }}" >
                                <button type="submit" class="btn btn-xs btn-default" title="Envoyer">
                                    <i class="fa fa-send"></i>
                                </button>
                                <br>
                                <div class="text-muted">{{ 'smart.email.test_form_help'|trans }}</div>
                            </form>
                        </div>
                    </div>
                    <p>
                        <b>{{ 'smart.email.subject'|trans }}</b> :
                        {{ trans_check(smart_email.getSubject, 'smart.email.missing_subject', 'email') }}
                    </p>
                    {% include [
                        smart_email.getHtmlTemplate,
                        '@SmartSonata/admin/documentation/_missing_email_template.html.twig'
                    ] ignore missing with { is_email_preview: true, smart_email_html_template_path: smart_email.getHtmlTemplate } only %}
                    <br>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
